<div id="footer">
  <footer class="page-footer deep-purple lighten-2">
    <div class="footer-copyright">
      <div class="container">
        <%= link_to "About", about_path, class: 'grey-text text-lighten-4' %>
        <div class="grey-text text-lighten-4 right">
          Copyright © 2016 malworm | All rights reserved
        </div>
      </div>
    </div>
  </footer>
</div>
