<div id="footer">
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <a href="/about" class="grey-text text-lighten-4">About</a>

        <div class="grey-text text-lighten-4 right">Copyright © 2016 malworm | All rights reserved</div>
      </div>
    </div>
  </footer>
</div>
