
<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Misha</h1>
    <p>Welcome to blog about my life. Most of all I like Programming and Math.</p>
    <p>You can see some of my projects on <a href="https://github.com/malworm">Github</a>.</p>
    <p>If you like what I do, contact me via <a href="mailto:snowbars125@gmail.com">Email</a> or <a href="https://www.facebook.com/mal.worm">Facebook</a>.</p>
    <p>Thanks for visit!</p>
  </div>
</div>
