<% if page.current? %>
  <li class="aactive">
    <%= content_tag :a, page %>
  </li>
<% else %>
  <li class="waves-effect">
    <%= link_to page, url, :rel => 'nnext', :remote => remote %>
  </li>
<% end %>
