<% if @posts.empty? %>
  <h3>Subscribe on some Tags to have own feed</h3>
<% else %>
  <% @posts.each do |post| %>
    <div class="col-md-4 text-center">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-content">
                <p><%= link_to post.titleValid, post %></p>
                <p><%= post.created_at.strftime(" %B, %d, %Y") %></p>
              </div>
              <div class="card-action">
                 <p>
                  Tags: <%= link_to post.tags.first.name, tag_path(post.tags.first.name) %>
                  <% if (post.tags.map.size - 1) > 0 %>
                    + <%= post.tags.map.size - 1 %> more
                  <% end -%>
                </p>
              </div>
            </div>
          </div>
    </div>
  <% end -%>
<% end -%>

<div class="fixed-action-btn horizontal" style="bottom: 90px; right: 24px;">
    <a href="/posts/new" class="btn-floating btn-large waves-effect waves-light red">
      <i class="large material-icons">mode_edit</i>
    </a>
</div>
